.actionButton{
    margin-right: 20px;
    width: 100px;
}
#employeeCard{
min-width: 800px;

}
#mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myInputs{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
@media (max-width:900px){
    #employeeCard{
        min-width: 400px;
    }
}