.myInputs{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
#updateEmployeeTitle{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}
.actionButton{
    margin-left: 20px;
}